{% extends "site_base.html" %} {% block content %} {% if user.is_authenticated == True and user.is_authenticated == True%}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %} {% if user.is_authenticated == True %}
<br>
<div class="card-columns">
  {% for story in latest_story_list %}
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <a href="/read/{{ story.auto_uid }}/">{{ story.story_title }}</a>
        </h4>
        <p class="card-text">{{ story.story_description|safe|truncatewords:60 }}</p>
        <small>
          <div class="row">
            <div class="col-auto mr-auto">Last updated:{{ story.story_last_modified }}</div>
            <div class="col-auto">Author:
              <a href="/p/{{ story.author }}/">{{ story.author }}</div>
          </div>
        </small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<br>
<div class="card-columns">
  {% for story in latest_story_list_save %}
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <a href="/read/{{ story.auto_uid }}/">{{ story.story_title }}</a>
        </h4>
        <p class="card-text">{{ story.story_description|safe|truncatewords:60 }}</p>
        <small>
          <div class="row">
            <div class="col-auto mr-auto">Last updated:{{ story.story_last_modified }}</div>
            <div class="col-auto">Author:
              <a href="/p/{{ story.author }}/">{{ story.author }}</div>
          </div>
        </small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}