Django>=2.0
django-allauth>=0.36
django-countries
django-mailer>=1.2.4
mysqlclient
python-memcached
#elasticsearch-dsl>=6.0,<7.0
elasticsearch-dsl==6.1.0 # newer versrion broke DocType
python-decouple
django-storages[boto3]>=1.6.6
channels
Twisted[tls,http2]
djangorestframework
pinax-templates
pinax-messages
django-bootstrap4
markdown
django-filter
pygments
python-logstash
